@model StratedgemeMonitor.ViewModels.Stratedgeme.Strategies.StrategiesListViewModel

    @{
        ViewBag.Title = "Strategies";
    }

    <div class="row">
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Strategies Available <small>(@Model.AvailableStrategies.Count)</small></h2>
                </div>
                @if (Model.AvailableStrategies.Count > 0)
                {
                    @Html.Partial("StrategiesListPartial", Model.AvailableStrategies)
                }
                else
                {
                    <div class="panel-body">
                        <p>No available strategy</p>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2>Strategies Unavailable <small>(@Model.UnavailableStrategies.Count)</small></h2>
                </div>
                @if (Model.UnavailableStrategies.Count > 0)
                {
                    @Html.Partial("StrategiesListPartial", Model.UnavailableStrategies)
                }
                else
                {
                    <div class="panel-body">
                        <p>No unavailable strategy</p>
                    </div>
                }
            </div>
        </div>
    </div>