@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 1900px) {
    .body-content {
        width: 1800px;
    }
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    h4 {
        font-size: small;
    }

    .body-content {
        font-size: x-small;
        padding-left: 0;
        padding-right: 0;
    }

    .panel, .alert {
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        margin-bottom: 0;
    }

    .panel-heading {
        padding-left: 4px;
        padding-right: 4px;
        padding-bottom: 4px;
        padding-top: 8px;
    }

    .panel-heading h4 {
        margin: 0;
    }

    .panel-body {
        padding: 4px;
    }

    .btn-xs {
        font-size: x-small;
        line-height: 1.1;
    }

    footer p {
        margin-top: 4px;
        margin-left: 4px;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        padding: 4px;
    }
}

.navbar {
    background-color: #2d6ab5;
}

.navbar-brand img {
    height: 100%;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > a,
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: #6293CE;
    color: white;
}

.navbar-right {
    padding-right: 20px;
}

.panel-body p {
    margin: 0;
}