<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://fxmonitor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <PublishFramework>netcoreapp1.1</PublishFramework>
    <UsePowerShell>True</UsePowerShell>
    <EnableMSDeployAppOffline>True</EnableMSDeployAppOffline>
    <MSDeployServiceURL>fxmonitor.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>fxmonitor</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$fxmonitor</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>True</ADUsesOwinOrOpenIdConnect>
    <EnableADPublish>true</EnableADPublish>
    <ADDomain>gsgfintech.com</ADDomain>
    <ADAppIDUri>https://gsgfintech.com/WebApp-fxmonitor.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADClientAPPID>edf8f45b-909a-4e34-9b92-11f8925cd7c0</ADClientAPPID>
    <ADClientPassword>NlbcRthuVKJ9BYsqGqgmAtJ1T5pIVrvJ58bNGZFLcRw=</ADClientPassword>
    <ADReplyUrl>https://fxmonitor.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>da31422c-7a45-40c1-b6f1-29a7db60f58a</ADTenantId>
    <ADPostLogoutRedirectUri>https://fxmonitor.azurewebsites.net/</ADPostLogoutRedirectUri>
  </PropertyGroup>
</Project>