@model StratedgemeMonitor.ViewModels.FAConfigurations.FAConfigurationsIndexViewModel

@{
    ViewBag.Title = "FA Configurations";
}

<div class="row">
    @Html.Partial("FAConfigurationPartial", Model.Configuration)
</div>